<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - HelpDesk </title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- jQuery 2.1.4 -->
    <script src="~/Content/js/jquery-3.1.1.min.js"></script>
    <!-- Bootstrap 3.3.5 -->
    <script src="~/Content/js/bootstrap.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/js/app.min.js"></script>
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/css/font-awesome.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/css/AdminLTE.min.css">
    <!-- jquery signalR-->
    <script src="~/Scripts/jquery.signalR-2.2.2.js"></script>
    <!-- jquery signalR hubs-->
    <script src="/signalr/hubs"></script>
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->    
    <link rel="stylesheet" href="~/Content/css/_all-skins.min.css">
    <link rel="apple-touch-icon" href="~/Content/img/apple-touch-icon.png">
    <link rel="shortcut icon" href="~/Content/img/favicon.ico">
    <link href="~/Content/css/ionicons.css" rel="stylesheet" />
    <!-- Jcrop -->
    <link rel="stylesheet" href="~/Content/css/Jcrop.css" />
    <!-- Select-Picker -->
    @Styles.Render("~/Content/css/bootstrap-select.min.css")
    @Styles.Render("~/Content/plugins/bootstrap-sweetalert/sweet-alert.css")
    @Styles.Render("~/Content/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css")
    <!-- CSS DataTables -->
    @Styles.Render("~/Content/plugins/datatables/jquery.dataTables.min.css")
    @Styles.Render("~/Content/plugins/datatables/buttons.bootstrap.min.css")
    @Styles.Render("~/Content/plugins/datatables/responsive.bootstrap.min.css")

    @*@Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/modernizr")

    
    <script>
        //MENU DINAMICO
        $(function () {            
                Cargar_MenuPrincipal(); 
        });

        function Cargar_MenuPrincipal() {
            $.ajax({
                url: "/MenuPrincipal/GetMenuPrincipal/",
                async: true,
                dataType: "json",
                type: "POST",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    Cargar_Permios(data.data);
                },
                error: function (request, status, error) {
                    console.log("error" + error);
                }
            });
        }

        function Cargar_Permios(ListaMenu) {
            $.ajax({
                url: "/Usuarios/GetUsuario/",
                async: true,
                dataType: "json",
                data: '{ id:' + @Session["id_usuario"] + '}',
                type: "POST",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    Visualizar_MenuPrincipal(ListaMenu,data.data.ent_tipo_usuario.permisos_tipo_usuario)
                },
                error: function (request, status, error) {
                    console.log("error" + error);
                }
            });
        }
        function Visualizar_MenuPrincipal(ListaMenu, Permisos_Usuarios) {
            //var menu_desplegable=[];
            try {
                $.each(ListaMenu, function (x, entMenu) {
                    contador = 1;
                    $.each(Permisos_Usuarios, function (i, entPermisos) {
                        if (entPermisos.id_menu_principal==entMenu.id_menu_principal) {
                            if (entPermisos.url == entMenu.url_net) {
                                menu = "<li>" +
                                            "<a href='" + entMenu.url_net + "'>" +
                                                "<i class='" + entMenu.icono_net + "'></i>" +
                                                "<span>" + entMenu.nombre + "</span>" +
                                            "</a>" +
                                        "</li>"
                                $("#menu_principal").append(menu);
                            }
                            else {
                                if (entPermisos.menu_principal == entMenu.nombre) {
                                    if (contador == 1) {
                                        menu = " <li class='treeview'>" +
                                           "<a href='#'>" +
                                               "<i class='" + entMenu.icono_net + "'></i>" +
                                               "<span>" + entMenu.nombre + "</span>" +
                                               "<i class='fa fa-angle-left pull-right'></i>" +
                                           "</a>" +
                                           "<ul class='treeview-menu' id='submenu" + entMenu.id_menu_principal + "'>" +
                                           "</ul>" +
                                       "</li>"
                                        $("#menu_principal").append(menu);
                                        contador++;
                                        //menu_desplegable.push({ id_menu_principal: entMenu.id_menu_principal });
                                    }
                                }
                            }
                        }
                    });
                });
                Visualizar_SubMenu(Permisos_Usuarios);
                Visualizar_Ayuda_AcecaDe();       
            }
            catch (err) {
                mostrar_aviso("error", "Error al procesar los comentarios");
            }
        }

        function Visualizar_SubMenu(Permisos_Usuarios)
        {
            $.each(Permisos_Usuarios, function (i, entPermisos) {
                sub_menu = "<li><a href='"+entPermisos.url+"'><i class='fa fa-circle-o'></i>"+entPermisos.permiso+"</a></li>"
                $("#submenu"+entPermisos.id_menu_principal).append(sub_menu);
            });
        }

        function Visualizar_Ayuda_AcecaDe()
        {
            //PINTAR AYUDA Y ACERCA DE...
            menu = "<li>"+
                        "<a href='#'>"+
                            "<i class='fa fa-question-circle'></i> <span>Ayuda</span>"+
                            "<small class='label pull-right bg-red'>PDF</small>"+
                        "</a>"+
                    "</li>"+
                    "<li>"+
                        "<a href='#'>"+
                            "<i class='fa fa-info-circle'></i> <span>Acerca De...</span>"+
                            "<small class='label pull-right bg-yellow'>IT</small>"+
                        "</a>"+
                    "</li>"

            $("#menu_principal").append(menu);
        }

    </script>

</head>
<body class="hold-transition skin-blue-light sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="/Home/" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><img src="~/Content/img/apple-touch-icon.png" class="user-image" width="42px"></span>                
                <!-- logo for regular state and mobile devices -->                
                <img src="~/Content/img/logo_helpdesk_b.png" class="user-image" >
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Navegación</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">                                              
                        <!-- Control Sidebar Toggle Button -->
                        <li>
                            <a href="#" data-toggle="control-sidebar"><i class="fa fa-wechat"></i><span class="hidden-xs"> Chat</span></a>
                        </li>
                        <!-- Notifications: style can be found in dropdown.less -->
                        <li class="dropdown messages-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" onclick="Obtener_Tickets()" >
                                <i class="fa fa-bell-o"></i>
                                <span class="count label label-warning" ></span>
                            </a>
                            <ul class="dropdown-menu" >
                                <li class="header" id="tituloNotificaciones"></li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu" id="menuNotificaciones">                                       
                                    </ul>                                    
                                </li>
                                <li class="footer"><a href="#">Ver todo</a></li>
                            </ul>
                        </li>
                   
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="@Session["foto"]" class="user-image">
                                <span class="hidden-xs">@Session["tipo_usuario"]</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img id="foto_user" src="@Session["foto"]"  class="img-circle">
                                    <p>
                                        @Session["nombre_completo"]
                                        <small>@Session["sucursal"]</small>
                                    </p>
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-right">
                                        <a href="#" data-target="#Modal_Exit" data-toggle="modal" class="btn btn-default btn-flat">Cerrar Sesión</a>                                        
                                    </div>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>

            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">               
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu" id="menu_principal">
                    <li class="header"></li>
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
        <!--Contenido-->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Main content -->
            <section class="content">
                @RenderBody()
            </section><!-- /.content -->
        </div><!-- /.content-wrapper -->
        <!--Fin-Contenido-->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 1.0
            </div>
            <strong>Copyright &copy; 2018 <a href="#">Abarrotes Monterrey S.A de C.V.</a></strong> Todos los Derechos Reservados.
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-light">            
            <!-- Tab panes -->
            <div class="tab-content">
                <br />
                <!-- DIRECT CHAT PRIMARY -->
                <div class="box box-primary direct-chat direct-chat-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Chat</h3>
                        <div class="box-tools pull-right">
                            <span data-toggle="tooltip" title="3 Nuevos Mensajes" class="badge bg-light-blue">3</span>
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="Contactos" data-widget="chat-pane-toggle">
                                <i class="fa fa-comments"></i>
                            </button>
                            @*<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>*@
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <!-- Conversations are loaded here -->
                        <div class="direct-chat-messages">
                            <!-- Message. Default to the left -->
                            <div class="direct-chat-msg">
                                <div class="direct-chat-info clearfix">
                                    <span class="direct-chat-name pull-left">Sarah Bullock</span>
                                    <span class="direct-chat-timestamp pull-right">23 Jan 2:00 pm</span>
                                </div>
                                <!-- /.direct-chat-info -->                                                 
                                <img class="direct-chat-img" src="~/Content/img/user3-128x128.jpg" alt="Message User Image"><!-- /.direct-chat-img -->
                                <div class="direct-chat-text">
                                    Hola ayuda con cable de red
                                </div>
                                <!-- /.direct-chat-text -->
                            </div>
                            <!-- /.direct-chat-msg -->
                            <!-- Message to the right -->
                            <div class="direct-chat-msg right">
                                <div class="direct-chat-info clearfix">
                                    <span class="direct-chat-name pull-right">Alexander Pierce</span>
                                    <span class="direct-chat-timestamp pull-left">23 Jan 2:05 pm</span>
                                </div>
                                <!-- /.direct-chat-info -->
                                <img class="direct-chat-img" src="~/Content/img/user8-128x128.jpg" alt="Message User Image"><!-- /.direct-chat-img -->
                                <div class="direct-chat-text">
                                   En un momento lo atiendo!!
                                </div>
                                <!-- /.direct-chat-text -->
                            </div>
                            <!-- /.direct-chat-msg -->
                        </div>
                        <!--/.direct-chat-messages-->
                        <!-- Contacts are loaded here -->
                        <div class="direct-chat-contacts">
                            <ul class="contacts-list">
                                <li>
                                    <a href="#">                                        
                                        <img class="contacts-list-img" src="~/Content/img/muser2-160x160.jpg" alt="User Image">
                                        <div class="contacts-list-info">
                                            <span class="contacts-list-name">
                                               Luis Angel
                                                <small class="contacts-list-date pull-right">2/28/2015</small>
                                            </span>
                                            <span class="contacts-list-msg">Me pueden ayudar con un problema de red</span>
                                        </div>
                                        <!-- /.contacts-list-info -->
                                    </a>
                                </li>
                                <!-- End Contact Item -->
                            </ul>
                            <!-- /.contatcts-list -->
                        </div>
                        <!-- /.direct-chat-pane -->
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <form action="#" method="post">
                            <div class="input-group">
                                <input type="text" name="message" placeholder="Escriba el mensaje ..." class="form-control">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-primary btn-flat">Enviar</button>
                                </span>
                            </div>
                        </form>
                    </div>
                    <!-- /.box-footer-->
                </div>                
            </div>
        </aside>
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>




        
    </div>

    <div class="modal fade" id="Modal_Exit">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Cerrar Sesion</h4>
                </div>
                <div class="modal-body">
                    <p>Se va a cerrar la session actual ¿Desea Continuar?&hellip;</p>
                </div>
                <div class="modal-footer">                    
                    <button type="button" class="btn btn-primary" onclick="CerrarSesion()">Si</button>
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">No</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->   
    @{
        try
        {
            if (Session["id_usuario"].ToString() == "")
            {
                Response.Redirect("/Acceso/");
            }
        }
        catch (Exception )
        {            
            Response.Redirect("/Acceso/");
        }
    }    <!-- Jcrop -->
    @Scripts.Render("~/Content/js/Jcrop.js")

    <!-- Select-Picker -->
    @Scripts.Render("~/Content/js/bootstrap-select.min.js")
    @Scripts.Render("~/Content/plugins/bootstrap-sweetalert/sweet-alert.js")
    @Scripts.Render("~/Content/plugins/bootstrap-sweetalert/sweet-alert.min.js")
    @Scripts.Render("~/Content/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js")
    @Scripts.Render("~/Content/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js")
    <!-- Datatables-->
    @Scripts.Render("~/Content/plugins/datatables/jquery.dataTables.min.js")
    @Scripts.Render("~/Content/plugins/datatables/dataTables.bootstrap.js")
    @Scripts.Render("~/Content/plugins/datatables/dataTables.buttons.min.js")
    @Scripts.Render("~/Content/plugins/datatables/buttons.bootstrap.min.js")
    @Scripts.Render("~/Content/plugins/datatables/buttons.html5.min.js")
    @Scripts.Render("~/Content/plugins/datatables/dataTables.responsive.min.js")
    @Scripts.Render("~/Content/plugins/datatables/responsive.bootstrap.min.js")
    @Scripts.Render("~/Content/plugins/DataTables/jszip.min.js")
    @Scripts.Render("~/Content/plugins/DataTables/pdfmake.min.js")
    @Scripts.Render("~/Content/plugins/DataTables/vfs_fonts.js")
    <!-- Datatable init js -->
    @Scripts.Render("~/Content/pages/datatables.init.js")
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
                
        //CERRAR SESION DEL SISTEMA
        function CerrarSesion() {
            return window.location.href = "@Url.Action("CerrarSesion", "Acceso")";
        }
        
        //OBTIENES LOS TICKETS DE ACUERDO AL USUARIO AUTENTICADO
        function Obtener_Tickets() {            
            $('#menuNotificaciones').empty();
            $('#menuNotificaciones').append($('<li>Cargando...</li>'));
            $.ajax({
                cache: false,
                destroy: true,
                searching: true,
                dataType: "json",                             
                url: '/Tickets/GetNotificacion/',
                contentType: "application/json; charset=utf-8",
                type: 'POST',
                success: function (datos) {                
                    $('#menuNotificaciones').empty();
                    if (datos.data.length == 0) {
                        $('#menuNotificaciones').append($('<li style="aling:center;">Sin Notificaciones</li>'));
                    }
                    else {
                        $("#tituloNotificaciones").html(datos.data.length + " Notificación");
                    }
                    $.each(datos.data, function (index, value) {                        
                        if (datos.data[index].tipo_notificacion == "Ticket") {
                            $('#menuNotificaciones').append($('<li><a href="#" onclick="Seguimiento(' + datos.data[index].id_ticket + ')"><div class="pull-left"><img src="../Content/img/Ticket.png" class="img-circle" alt="User Image"></div><h4>' + datos.data[index].asunto + '<small><i class="fa fa-clock-o"></i> 5 mins</small></h4><p>Estado ' + datos.data[index].estado + '</p></a></li>'));
                        } else {
                            if (datos.data[index].tipo_notificacion == "Comentario") {
                                $('#menuNotificaciones').append($('<li><a href="#" onclick="Seguimiento(' + datos.data[index].id_ticket + ')"><div class="pull-left"><img src="data:image/png;base64,' + datos.data[index].foto + '" alt="User Image"></div><h4>' + datos.data[index].nombre + ' respondio <small><i class="fa fa-clock-o"></i> 5 mins</small></h4><p>el Ticket #' + datos.data[index].id_ticket + '</p><p>' + datos.data[index].asunto + '</p></a></li>'));
                            }
                        }                        
                    });
                },
                error: function (error) {
                    console.log(error);
                }
            })
        }

       
        //DETALLE DEL TICKET PARA EL SEGUIMIENTO
        function Seguimiento(id_ticket) {                
            if ("@Session["tipo_usuario"]" == "Supervisor") {
                window.location = "/Tickets/SeguimientoSucursal?id_ticket=" + id_ticket;
            }
        else {
                window.location = "/Tickets/SeguimientoMesaAyuda?id_ticket=" + id_ticket;
            }
        }
        
        //EJECUTAR EL CONTADOR DE LAS NOTIFICACIONES
        //$(function () {

            $(document).ready(function () {
                updateNotificationCount()
            });

            // Click on notification icon for show notification
            $('span.noti').click(function (e) {
                e.stopPropagation();
                $('.noti-content').show();
                var count = 0;
                count = parseInt($('span.count').html()) || 0;
                //only load notification if not already loaded
                if (count > 0) {
                    Obtener_Tickets();
                }
                $('span.count', this).html('&nbsp;');
            })            

            // update notification count
            function updateNotificationCount() {                
                $.ajax({
                    cache: false,
                    destroy: true,
                    searching: true,
                    dataType: "json",
                    url: '/Tickets/GetNotificacion/',
                    contentType: "application/json; charset=utf-8",
                    type: 'GET',
                    success: function (datos) {
                        console.log(datos.data.length);
                        if (datos.data.length > 0) {
                            $('span.count').html(datos.data.length);                        
                        }
                        else
                            $('span.count').html('');
                    },
                    error: function (error) {
                        console.log(error);
                    }
                })
               
            }
            // signalr js code for start hub and send receive notification
            var notificationHub = $.connection.notificationHub;
            $.connection.hub.start().done(function () {
                console.log('Notification hub started');
            });
            //signalr method for push server message to client
            notificationHub.client.notify = function (message) {                
                if (message && message.toLowerCase() == "Notificaciones") {
                   
                    updateNotificationCount();
                    console.log('Notification Update');
                }
                if (message && message.toLowerCase() == "Comentarios") {

                    updateNotificationCount();
                    console.log('Notification Update');
                }
            }
        //})      
    </script>
       

     


</body>
</html>
