<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - HelpDesk </title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- jQuery 2.1.4 -->
    <script src="~/Content/js/jquery-3.1.1.min.js"></script>
    <!-- Bootstrap 3.3.5 -->
    <script src="~/Content/js/bootstrap.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/js/app.min.js"></script>
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/css/font-awesome.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/css/AdminLTE.min.css">
    <!-- jquery signalR-->
    <script src="~/Scripts/jquery.signalR-2.2.2.js"></script> 
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>   
    <!-- jquery signalR hubs-->
    <script src="/signalr/hubs" type="text/javascript"></script>
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->    
    <link rel="stylesheet" href="~/Content/css/_all-skins.min.css">
    <link rel="apple-touch-icon" href="~/Content/img/apple-touch-icon.png">
    <link rel="shortcut icon" href="~/Content/img/favicon.ico">
    <link href="~/Content/css/ionicons.css" rel="stylesheet" />
    <!-- Jcrop -->
    <link rel="stylesheet" href="~/Content/css/Jcrop.css" />
    <!-- Select-Picker -->
    @Styles.Render("~/Content/css/bootstrap-select.min.css")
    @Styles.Render("~/Content/plugins/bootstrap-sweetalert/sweet-alert.css")
    @Styles.Render("~/Content/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css")
    <!-- CSS DataTables -->
    @Styles.Render("~/Content/plugins/datatables/jquery.dataTables.min.css")
    @Styles.Render("~/Content/plugins/datatables/buttons.bootstrap.min.css")
    @Styles.Render("~/Content/plugins/datatables/responsive.bootstrap.min.css")

    @*@Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/modernizr")

    
    <script>
        //MENU DINAMICO
        $(function () {            
                Cargar_MenuPrincipal(); 
        });

        function Cargar_MenuPrincipal() {
            $.ajax({
                url: "/MenuPrincipal/GetMenuPrincipal/",
                async: true,
                dataType: "json",
                type: "POST",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    Cargar_Permios(data.data);
                },
                error: function (request, status, error) {
                    console.log("error" + error);
                }
            });
        }

        function Cargar_Permios(ListaMenu) {
            $.ajax({
                url: "/Usuarios/GetUsuario/",
                async: true,
                dataType: "json",
                data: '{ id:' + @Session["id_usuario"] + '}',
                type: "POST",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    Visualizar_MenuPrincipal(ListaMenu,data.data.ent_tipo_usuario.permisos_tipo_usuario)
                },
                error: function (request, status, error) {
                    console.log("error" + error);
                }
            });
        }
        function Visualizar_MenuPrincipal(ListaMenu, Permisos_Usuarios) {
            //var menu_desplegable=[];
            try {
                $.each(ListaMenu, function (x, entMenu) {
                    contador = 1;
                    $.each(Permisos_Usuarios, function (i, entPermisos) {
                        if (entPermisos.id_menu_principal==entMenu.id_menu_principal) {
                            if (entPermisos.url == entMenu.url_net) {
                                menu = "<li>" +
                                            "<a href='" + entMenu.url_net + "'>" +
                                                "<i class='" + entMenu.icono_net + "'></i>" +
                                                "<span>" + entMenu.nombre + "</span>" +
                                            "</a>" +
                                        "</li>"
                                $("#menu_principal").append(menu);
                            }
                            else {
                                if (entPermisos.menu_principal == entMenu.nombre) {
                                    if (contador == 1) {
                                        menu = " <li class='treeview'>" +
                                           "<a href='#'>" +
                                               "<i class='" + entMenu.icono_net + "'></i>" +
                                               "<span>" + entMenu.nombre + "</span>" +
                                               "<i class='fa fa-angle-left pull-right'></i>" +
                                           "</a>" +
                                           "<ul class='treeview-menu' id='submenu" + entMenu.id_menu_principal + "'>" +
                                           "</ul>" +
                                       "</li>"
                                        $("#menu_principal").append(menu);
                                        contador++;
                                        //menu_desplegable.push({ id_menu_principal: entMenu.id_menu_principal });
                                    }
                                }
                            }
                        }
                    });
                });
                Visualizar_SubMenu(Permisos_Usuarios);
                Visualizar_Ayuda_AcecaDe();       
            }
            catch (err) {
                mostrar_aviso("error", "Error al procesar los comentarios");
            }
        }

        function Visualizar_SubMenu(Permisos_Usuarios)
        {
            $.each(Permisos_Usuarios, function (i, entPermisos) {
                sub_menu = "<li><a href='"+entPermisos.url+"'><i class='fa fa-circle-o'></i>"+entPermisos.permiso+"</a></li>"
                $("#submenu"+entPermisos.id_menu_principal).append(sub_menu);
            });
        }

        function Visualizar_Ayuda_AcecaDe()
        {
            //PINTAR AYUDA Y ACERCA DE...
            menu = "<li>"+
                        "<a href='#'>"+
                            "<i class='fa fa-question-circle'></i> <span>Ayuda</span>"+
                            "<small class='label pull-right bg-red'>PDF</small>"+
                        "</a>"+
                    "</li>"+
                    "<li>"+
                        "<a href='#'>"+
                            "<i class='fa fa-info-circle'></i> <span>Acerca De...</span>"+
                            "<small class='label pull-right bg-yellow'>IT</small>"+
                        "</a>"+
                    "</li>"

            $("#menu_principal").append(menu);
        }

    </script>

</head>
<body class="hold-transition skin-blue-light sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="/Home/" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><img src="~/Content/img/apple-touch-icon.png" class="user-image" width="42"></span>                
                <!-- logo for regular state and mobile devices -->                
                <img src="~/Content/img/logo_helpdesk_b.png" class="user-image" >
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Navegación</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">                                              
                        <!-- Control Sidebar Toggle Button -->
                        <li>
                            <a href="#" data-toggle="control-sidebar"><i class="fa fa-wechat"></i><span class="hidden-xs"> Chat</span><span class="msgcount label label-success"></span></a>
                            @*<a href="/Chat/"><i class="fa fa-wechat"></i><span class="hidden-xs"> Chat</span></a>*@
                        </li>
                        <!-- Notifications: style can be found in dropdown.less -->
                        <li class="dropdown messages-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" onclick="Obtener_Tickets()" >
                                <i class="fa fa-bell-o"></i>
                                <span class="count label label-warning" ></span>
                            </a>
                            <ul class="dropdown-menu" >
                                <li class="header" id="tituloNotificaciones"></li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu" id="menuNotificaciones">                                       
                                    </ul>                                    
                                </li>
                                <li class="footer"><a href="#">Ver todo</a></li>
                            </ul>
                        </li>
                   
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="@Session["foto"]" class="user-image">
                                <span class="hidden-xs">@Session["tipo_usuario"]</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img id="foto_user" src="@Session["foto"]"  class="img-circle">
                                    <p>
                                        @Session["nombre_completo"]
                                        <small>@Session["sucursal"]</small>
                                    </p>
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-right">
                                        <a href="#" data-target="#Modal_Exit" data-toggle="modal" class="btn btn-default btn-flat">Cerrar Sesión</a>                                        
                                    </div>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>

            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">               
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu" id="menu_principal">
                    <li class="header"></li>
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
        <!--Contenido-->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Main content -->
            <section class="content">
                @RenderBody()
            </section><!-- /.content -->
        </div><!-- /.content-wrapper -->
        <!--Fin-Contenido-->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 1.0
            </div>
            <strong>Copyright &copy; 2018 <a href="#">Abarrotes Monterrey S.A de C.V.</a></strong> Todos los Derechos Reservados.
        </footer>

        @*SOPORTE CHAT*@
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-light">            
            <!-- Tab panes -->
            <div class="tab-content">
                <br />
                <input id="hUserId" type="hidden" />
                <input id="hId" type="hidden" />
                <input id="hUserName" type="hidden" />
                <input id="hGroup" type="hidden" />
                <input id="fotochat" type="hidden" />

                <input id="hdId" type="hidden" />
                <input id="hdUserName" type="hidden" />

                @*<input type="button" value="Conectar" class="btn btn-primary btn-flat" id="btnConectar" />*@
                <div id="divalarm"></div>

                <!-- Chat users list -->
                
                <!-- Widget: user widget style 1 -->
                <div class="box box-widget widget-user-2">
                    <!-- Add the bg color to the header using any of the bg-* classes -->
                    <div class="widget-user-header bg-light-blue-active">
                        <div class="widget-user-image">                            
                            <img class="img-circle" src="~/Content/img/Users-icon.png" alt="Usuarios">
                        </div>
                        <!-- /.widget-user-image -->
                        <h3 class="widget-user-username" id="countuser">Usuarios</h3>
                        <h5 class="widget-user-desc">En Linea</h5>
                    </div>
                    <div class="box-footer no-padding" >
                        <ul class="nav nav-stacked" id="divusersdefault"></ul>
                        <ul class="nav nav-stacked" id="divusers">                           
                        </ul>
                    </div>
                </div>
                <!-- /.widget-user -->

               
                <!-- DIRECT CHAT PRIMARY -->
                <div class="box box-primary direct-chat direct-chat-primary" style="height:100%;">
                    <div class="box-header with-border">
                        <h3 class="box-title" id="titulo"></h3>
                        <div class="box-tools pull-right">                            
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>                            
                        </div>
                    </div>                    
                    <div class="box-body">                        
                        <div class="direct-chat-messages" id="divMessage">
                        </div>                          
                    </div>                    
                    <div class="box-footer">
                        <div class="input-group">
                            <input type="text" name="message" id="txtMessage" placeholder="Escriba el mensaje ..." class="form-control">
                            <span class="input-group-btn">
                                <input type="button" value="Enviar" class="btn btn-primary btn-flat" id="btnSendMessage" />
                            </span>
                        </div>
                    </div>                    
                </div>
                <div id="divContentPrivate">

                </div>
            </div>
        </aside>
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>




        
    </div>

    <div class="modal fade" id="Modal_Exit">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Cerrar Sesion</h4>
                </div>
                <div class="modal-body">
                    <p>Se va a cerrar la session actual ¿Desea Continuar?&hellip;</p>
                </div>
                <div class="modal-footer">                    
                    <button type="button" class="btn btn-primary" onclick="CerrarSesion()">Si</button>
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">No</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <audio controls="controls" id="chataudio">
        <source src="~/Content/sound/Chat.mp3" type="audio/mpeg" />
    </audio>
    <!-- /.modal -->   
    @{
        try
        {
            if (Session["id_usuario"].ToString() == "")
            {
                Response.Redirect("/Acceso/");
            }
        }
        catch (Exception )
        {            
            Response.Redirect("/Acceso/");
        }
    }    <!-- Jcrop -->
    @Scripts.Render("~/Content/js/Jcrop.js")

    <!--  Bootstrap Validator-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>

    <!-- Select-Picker -->
    @Scripts.Render("~/Content/js/bootstrap-select.min.js")
    @Scripts.Render("~/Content/plugins/bootstrap-sweetalert/sweet-alert.js")
    @Scripts.Render("~/Content/plugins/bootstrap-sweetalert/sweet-alert.min.js")
    @Scripts.Render("~/Content/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js")
    @Scripts.Render("~/Content/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js")
    <!-- Datatables-->
    @Scripts.Render("~/Content/plugins/datatables/jquery.dataTables.min.js")
    @Scripts.Render("~/Content/plugins/datatables/dataTables.bootstrap.js")
    @Scripts.Render("~/Content/plugins/datatables/dataTables.buttons.min.js")
    @Scripts.Render("~/Content/plugins/datatables/buttons.bootstrap.min.js")
    @Scripts.Render("~/Content/plugins/datatables/buttons.html5.min.js")
    @Scripts.Render("~/Content/plugins/datatables/dataTables.responsive.min.js")
    @Scripts.Render("~/Content/plugins/datatables/responsive.bootstrap.min.js")
    @Scripts.Render("~/Content/plugins/DataTables/jszip.min.js")
    @Scripts.Render("~/Content/plugins/DataTables/pdfmake.min.js")
    @Scripts.Render("~/Content/plugins/DataTables/vfs_fonts.js")

    <!-- jquery signalR-->
    @Scripts.Render("~/Scripts/jquery.signalR-2.2.2.js")
    @Scripts.Render("~/Scripts/jquery.signalR-2.2.2.min.js")    
    <!-- jquery signalR hubs-->
    @*@Scripts.Render("~/signalr/hubs")*@
    <script src="@Url.Content("~/signalr/hubs")" type="text/javascript"></script>  
    
    
    <!-- Datatable init js -->
    @Scripts.Render("~/Content/pages/datatables.init.js")
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
    <!-- jquery signalR-->
    <script src="~/Scripts/jquery.signalR-2.2.2.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <!-- jquery signalR hubs-->
    <script src="/signalr/hubs" type="text/javascript"></script>
    @*<script src="~/Scripts/ChatHub.js"></script>*@
    <script type="text/javascript">

        //CERRAR SESION DEL SISTEMA
        function CerrarSesion() {
            return window.location.href = "@Url.Action("CerrarSesion", "Acceso")";
        }

        //OBTIENES LOS TICKETS DE ACUERDO AL USUARIO AUTENTICADO
        function Obtener_Tickets() {
            $('#menuNotificaciones').empty();
            $('#menuNotificaciones').append($('<li>Cargando...</li>'));
            $.ajax({
                cache: false,
                destroy: true,
                searching: true,
                dataType: "json",
                url: '/Tickets/GetNotificacion/',
                contentType: "application/json; charset=utf-8",
                type: 'POST',
                success: function (datos) {
                    $('#menuNotificaciones').empty();
                    if (datos.data.length == 0) {
                        $('#menuNotificaciones').append($('<li style="aling:center;">Sin Notificaciones</li>'));
                    }
                    else {
                        $("#tituloNotificaciones").html(datos.data.length + " Notificación");
                    }
                    $.each(datos.data, function (index, value) {
                        if (datos.data[index].tipo_notificacion == "Ticket") {
                            $('#menuNotificaciones').append($('<li><a href="#" onclick="Seguimiento(' + datos.data[index].id_ticket + ')"><div class="pull-left"><img src="../Content/img/Ticket.png" class="img-circle" alt="User Image"></div><h4>' + datos.data[index].asunto + '<small><i class="fa fa-clock-o"></i> 5 mins</small></h4><p>Estado ' + datos.data[index].estado + '</p></a></li>'));
                        } else {
                            if (datos.data[index].tipo_notificacion == "Comentario") {
                                $('#menuNotificaciones').append($('<li><a href="#" onclick="Seguimiento(' + datos.data[index].id_ticket + ')"><div class="pull-left"><img src="data:image/png;base64,' + datos.data[index].foto + '" alt="User Image"></div><h4>' + datos.data[index].nombre + ' respondio <small><i class="fa fa-clock-o"></i> 5 mins</small></h4><p>el Ticket #' + datos.data[index].id_ticket + '</p><p>' + datos.data[index].asunto + '</p></a></li>'));
                            }
                        }
                    });
                },
                error: function (error) {
                    console.log(error);
                }
            })
        }


        //DETALLE DEL TICKET PARA EL SEGUIMIENTO
        function Seguimiento(id_ticket) {
            if ("@Session["tipo_usuario"]" == "Supervisor") {
                window.location = "/Tickets/SeguimientoSucursal?id_ticket=" + id_ticket;
            }
        else {
                window.location = "/Tickets/SeguimientoMesaAyuda?id_ticket=" + id_ticket;
            }
        }

        //EJECUTAR EL CONTADOR DE LAS NOTIFICACIONES
        //$(function () {

        $(document).ready(function () {
                updateNotificationCount()
        });



            // Click on notification icon for show notification
            $('span.noti').click(function (e) {
                e.stopPropagation();
                $('.noti-content').show();
                var count = 0;
                count = parseInt($('span.count').html()) || 0;
                //only load notification if not already loaded
                if (count > 0) {
                    Obtener_Tickets();
                }
                $('span.count', this).html('&nbsp;');
            })

            // update notification count
            function updateNotificationCount() {
                $.ajax({
                    cache: false,
                    destroy: true,
                    searching: true,
                    dataType: "json",
                    url: '/Tickets/GetNotificacion/',
                    contentType: "application/json; charset=utf-8",
                    type: 'GET',
                    success: function (datos) {
                        console.log(datos.data.length);
                        if (datos.data.length > 0) {
                            $('span.count').html(datos.data.length);
                        }
                        else
                            $('span.count').html('');
                    },
                    error: function (error) {
                        console.log(error);
                    }
                })

            }
            // signalr js code for start hub and send receive notification
            var notificationHub = $.connection.notificationHub;
            $.connection.hub.start().done(function () {
                console.log('Notification hub started');
            });
            //signalr method for push server message to client
            notificationHub.client.notify = function (message) {
                if (message && message.toLowerCase() == "added") {
                    updateNotificationCount();
                    console.log('Notification Update');
                }
            }

            function updateMessagerCount() {
                var count = 0;
                count = parseInt($('span.msgcount').html()) || 0;
                count++;
                $('span.msgcount').html(count);
            }

            
            
        //-------------INICIO DE CHAT ........//                      

            // Declare a proxy to reference the hub. 
            var chatHub = $.connection.chatHub;

            registerClientMethods(chatHub);

            // Start Hub
            $.connection.hub.start().done(function () {

                registerEvents(chatHub)
                console.log('Chat Iniciado!');

            });


            function registerEvents(chatHub) {

                var name = '@Session["user_name"]';
                var pass = '@Session["password"]';

                if (name.length > 0 && pass.length > 0) {
                    chatHub.server.connect(name, pass);
                }

                $('#btnSendMessage').click(function () {

                    var msg = $("#txtMessage").val();
                    if (msg.length > 0) {

                        var userName = $('#hdUserName').val();
                        chatHub.server.sendMessageToAll(userName, msg);
                        $("#txtMessage").val('');
                    }
                });

                $("#txtMessage").keypress(function (e) {
                    if (e.which == 13) {
                        $('#btnSendMessage').click();
                    }
                });


            }

            function registerClientMethods(chatHub) {

                // Calls when user successfully logged in
                chatHub.client.onConnected = function (id, userName, allUsers, messages) {

                    $('#titulo').html('');
                    $('#titulo').append('<div><p>Chat del ' + '@Session["tipo_usuario"]' + '</p></div>');

                    $('#hdId').val(id);
                    $('#hdUserName').val(userName);
                    //$('#spanUser').html(userName);

                    // Add All Users
                    for (i = 0; i < allUsers.length; i++) {

                        AddUser(chatHub, allUsers[i].ConnectionId, allUsers[i].user_name);
                    }
                    
                    // Add Existing Messages
                    for (i = 0; i < messages.length; i++) {

                        AddMessage(messages[i].UserName, messages[i].Message, messages[i].foto_usuario, messages[i].fecha_Mensaje);
                    }


                }

                // On New User Connected
                chatHub.client.onNewUserConnected = function (id, name) {
                    console.log(id);
                    AddUser(chatHub, id, name);
                }


                // On User Disconnected
                chatHub.client.onUserDisconnected = function (id, userName) {

                    $('#' + id).remove();

                    var ctrId = 'private_' + id;
                    $('#' + ctrId).remove();


                    var disc = $('<li><a>' + userName + ' <span class="label label-danger pull-right">Desconectado</span></a></li>');

                    $(disc).hide();
                    $('#divusers').prepend(disc);
                    $(disc).fadeIn(200).delay(2000).fadeOut(200);

                }

                chatHub.client.messageReceived = function (userName, message, userPhoto, fecha_hrs) {
                    document.getElementById('chataudio').play();
                    AddMessage(userName, message, userPhoto, fecha_hrs);
                }


                chatHub.client.sendPrivateMessage = function (windowId, fromUserName, message, userPhoto, fecha_hrs) {


                    var ctrId = 'private_' + windowId;

                    if ($('#' + ctrId).length == 0) {                        
                        createPrivateChatWindow(chatHub, windowId, ctrId, fromUserName);                        
                    }

                    document.getElementById('chataudio').play();

                    //$('#' + ctrId).find('#divMessagePrivate').append('<div class="message"><span class="userName">' + fromUserName + '</span>: ' + message + '</div>');


                    $("#txtMessage").val('');
                    var nombreCliente = $('#hdUserName').val();
                    if (nombreCliente == fromUserName) {
                    $('#' + ctrId).find('#divMessagePrivate').append(
                                                '<div class="direct-chat-msg">' +
                                                     '<div class="direct-chat-info clearfix">' +
                                                         '<span class="direct-chat-name pull-left">' + fromUserName + '</span>' +
                                                         '<span class="direct-chat-timestamp pull-right">' + fecha_hrs + '</span>' +
                                                     '</div>' +
                                                     '<img class="direct-chat-img" src="data:image/png;base64,' + userPhoto + '" alt="Message User Image">' +
                                                     '<div class="direct-chat-text">' +
                                                         message +
                                                     '</div>' +
                                                 '</div>'
                                                );
                    }
                    else {
                        //Administrador o Agente
                    $('#' + ctrId).find('#divMessagePrivate').append(
                                               '<div class="direct-chat-msg right">' +
                                                    '<div class="direct-chat-info clearfix">' +
                                                        '<span class="direct-chat-name pull-left">' + fromUserName + '</span>' +
                                                        '<span class="direct-chat-timestamp pull-right">' + fecha_hrs + '</span>' +
                                                    '</div>' +
                                                    '<img class="direct-chat-img" src="data:image/png;base64,' + userPhoto + '" alt="Message User Image">' +
                                                    '<div class="direct-chat-text">' +
                                                        message +
                                                    '</div>' +
                                                '</div>'
                                               );
                    }

                    var height = $('#divMessagePrivate')[0].scrollHeight;
                    $('#divMessagePrivate').scrollTop(height);


                    //// set scrollbar
                    //var height = $('#' + ctrId).find('#divMessagePrivate')[0].scrollHeight;
                    //$('#' + ctrId).find('#divMessagePrivate').scrollTop(height);

                }

            }

            function AddUser(chatHub, id, name) {
                console.log(name);
                var userId = $('#hdId').val();

                var codeDefaults = "";
                var code = "";

                if (userId == id) {                    
                    codeDefaults = $('<li><a>' + name + '<i class="pull-right fa fa-circle text-blue"></i></a></li>');

                }
                else {                    
                    code = $('<li id="' + id + '"><a>' + name + '<i class="pull-right fa fa-circle text-green"></i></a></li>');
                    $(code).dblclick(function () {

                        var id = $(this).attr('id');                        
                        if (userId != id)
                            OpenPrivateChatWindow(chatHub, id, name);

                    });
                }

                
                $("#divusersdefault").append(codeDefaults);
                $("#divusers").append(code);


            }

            function AddMessage(userName, message, foto, fecha_hrs) {

                $("#txtMessage").val('');
                var nombreCliente = $('#hdUserName').val();
                if (nombreCliente == userName) {
                    $('#divMessage').append(
                                            '<div class="direct-chat-msg">' +
                                                 '<div class="direct-chat-info clearfix">' +
                                                     '<span class="direct-chat-name pull-left">' + userName + '</span>' +
                                                     '<span class="direct-chat-timestamp pull-right">' + fecha_hrs + '</span>' +
                                                 '</div>' +
                                                 '<img class="direct-chat-img" src="data:image/png;base64,' + foto + '" alt="Message User Image">' +
                                                 '<div class="direct-chat-text">' +
                                                     message +
                                                 '</div>' +
                                             '</div>'
                                            );
                }
                else {
                    //Administrador o Agente
                    $('#divMessage').append(
                                           '<div class="direct-chat-msg right">' +
                                                '<div class="direct-chat-info clearfix">' +
                                                    '<span class="direct-chat-name pull-left">' + userName + '</span>' +
                                                    '<span class="direct-chat-timestamp pull-right">' + fecha_hrs + '</span>' +
                                                '</div>' +
                                                '<img class="direct-chat-img" src="data:image/png;base64,' + foto + '" alt="Message User Image">' +
                                                '<div class="direct-chat-text">' +
                                                    message +
                                                '</div>' +
                                            '</div>'
                                           );
                }

                var height = $('#divMessage')[0].scrollHeight;
                $('#divMessage').scrollTop(height);

                //$('#divChatWindow').append('<div class="message"><span class="userName">' + userName + '</span>: ' + message + '</div>');

                //var height = $('#divChatWindow')[0].scrollHeight;
                //$('#divChatWindow').scrollTop(height);
            }

            function OpenPrivateChatWindow(chatHub, id, userName) {                
                var ctrId = 'private_' + id;

                if ($('#' + ctrId).length > 0) return;

                createPrivateChatWindow(chatHub, id, ctrId, userName);

            }

            function createPrivateChatWindow(chatHub, userId, ctrId, userName) {

                var div = '<div id="' + ctrId + '" class="box box-success direct-chat direct-chat-success" style="height:100%;">' +
                                   '<div class="box-header with-border">' +
                                       '<h3 class="box-title" id="titulo">' + userName + '</h3>' +
                                       '<div class="box-tools pull-right">' +
                                           '<button type="button" class="btn btn-box-tool" data-widget="collapse">' +
                                               '<i class="fa fa-minus"></i>' +
                                           '</button>' +
                                           '<button id="btnCerrarPrivate" style="cursor:pointer;" type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>' +
                                       '</div>' +
                                   '</div>' +
                                   '<div class="box-body">' +
                                       '<div class="direct-chat-messages" id="divMessagePrivate">' +
                                       '</div>' +
                                   '</div>' +
                                   '<div class="box-footer">' +
                                       '<div class="input-group">' +
                                           '<input type="text" name="message" id="txtPrivateMessage" placeholder="Escriba el mensaje ..." class="form-control">' +
                                           '<span class="input-group-btn">' +
                                               '<input type="button" value="Enviar" class="btn btn-success btn-flat" id="btnSendMessagePrivate" />' +
                                           '</span>' +
                                       '</div>' +
                                   '</div>' +
                               '</div>';

                var $div = $(div);

                // DELETE BUTTON IMAGE
                $div.find('#btnCerrarPrivate').click(function () {
                    $('#' + ctrId).remove();
                });

                // Send Button event
                $div.find("#btnSendMessagePrivate").click(function () {

                    $textBox = $div.find("#txtPrivateMessage");
                    var msg = $textBox.val();
                    if (msg.length > 0) {

                        chatHub.server.sendPrivateMessage(userId, msg);
                        $textBox.val('');
                    }
                });

                // Text Box event
                $div.find("#txtPrivateMessage").keypress(function (e) {
                    if (e.which == 13) {
                        $div.find("#btnSendMessagePrivate").click();
                    }
                });

                AddDivToContainer($div);

            }

            function AddDivToContainer($div) {
                $('#divContentPrivate').prepend($div);
            }


        //-------------FIN DEL CHAT ........//

    </script>
     


</body>
</html>
