<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - HelpDesk </title>

    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- jQuery 2.1.4 -->
    <script src="~/Content/js/jquery-3.1.1.min.js"></script>
    <!-- Bootstrap 3.3.5 -->
    <script src="~/Content/js/bootstrap.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/js/app.min.js"></script>
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/css/font-awesome.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->    
    <link rel="stylesheet" href="~/Content/css/_all-skins.min.css">
    <link rel="apple-touch-icon" href="~/Content/img/apple-touch-icon.png">
    <link rel="shortcut icon" href="~/Content/img/favicon.ico">
    <link href="~/Content/css/ionicons.css" rel="stylesheet" />
    <!-- Jcrop -->
    <link rel="stylesheet" href="~/Content/css/Jcrop.css" />
    <!-- Select-Picker -->
    @Styles.Render("~/Content/css/bootstrap-select.min.css")
    @Styles.Render("~/Content/plugins/bootstrap-sweetalert/sweet-alert.css")
    @Styles.Render("~/Content/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css")
    <!-- CSS DataTables -->
    @Styles.Render("~/Content/plugins/datatables/jquery.dataTables.min.css")
    @Styles.Render("~/Content/plugins/datatables/buttons.bootstrap.min.css")
    @Styles.Render("~/Content/plugins/datatables/responsive.bootstrap.min.css")

    @*@Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/modernizr")

</head>
<body class="hold-transition skin-blue-light sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="/Home/" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><img src="~/Content/img/apple-touch-icon.png" class="user-image" width="42px"></span>                
                <!-- logo for regular state and mobile devices -->                
                <img src="~/Content/img/logo_helpdesk_b.png" class="user-image" >
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Navegación</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less-->
                        <li class="dropdown messages-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-envelope-o"></i>
                                <span class="label label-success">4</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 4 messages</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li>
                                            <!-- start message -->
                                            <a href="#">
                                                <div class="pull-left">                                                    
                                                    <img src="~/Content/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                                                </div>
                                                <h4>
                                                    Support Team
                                                    <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                                </h4>
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li>
                                        <!-- end message -->
                                        <li>
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="~/Content/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                                                </div>
                                                <h4>
                                                    AdminLTE Design Team
                                                    <small><i class="fa fa-clock-o"></i> 2 hours</small>
                                                </h4>
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="~/Content/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                                                </div>
                                                <h4>
                                                    Developers
                                                    <small><i class="fa fa-clock-o"></i> Today</small>
                                                </h4>
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="~/Content/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                                                </div>
                                                <h4>
                                                    Sales Department
                                                    <small><i class="fa fa-clock-o"></i> Yesterday</small>
                                                </h4>
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="~/Content/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                                                </div>
                                                <h4>
                                                    Reviewers
                                                    <small><i class="fa fa-clock-o"></i> 2 days</small>
                                                </h4>
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">See All Messages</a></li>
                            </ul>
                        </li>
                        <!-- Notifications: style can be found in dropdown.less -->
                        <li class="dropdown notifications-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell-o"></i>
                                <span class="label label-warning">10</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 10 notifications</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the
                                                page and may cause design problems
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-users text-red"></i> 5 new members joined
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-user text-red"></i> You changed your username
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">View all</a></li>
                            </ul>
                        </li>
                        <!-- Tasks: style can be found in dropdown.less -->
                        <li class="dropdown tasks-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-flag-o"></i>
                                <span class="label label-danger">9</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 9 tasks</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li>
                                            <!-- Task item -->
                                            <a href="#">
                                                <h3>
                                                    Design some buttons
                                                    <small class="pull-right">20%</small>
                                                </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar"
                                                         aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">20% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <!-- end task item -->
                                        <li>
                                            <!-- Task item -->
                                            <a href="#">
                                                <h3>
                                                    Create a nice theme
                                                    <small class="pull-right">40%</small>
                                                </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-green" style="width: 40%" role="progressbar"
                                                         aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">40% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <!-- end task item -->
                                        <li>
                                            <!-- Task item -->
                                            <a href="#">
                                                <h3>
                                                    Some task I need to do
                                                    <small class="pull-right">60%</small>
                                                </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-red" style="width: 60%" role="progressbar"
                                                         aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">60% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <!-- end task item -->
                                        <li>
                                            <!-- Task item -->
                                            <a href="#">
                                                <h3>
                                                    Make beautiful transitions
                                                    <small class="pull-right">80%</small>
                                                </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-yellow" style="width: 80%" role="progressbar"
                                                         aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">80% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <!-- end task item -->
                                    </ul>
                                </li>
                                <li class="footer">
                                    <a href="#">View all tasks</a>
                                </li>
                            </ul>
                        </li>
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="~/Content/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
                                <span class="hidden-xs">@Session["Nombre"]devluisangel</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="~/Content/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                                    <p>
                                        @Session["Nombre"]Luis Angel Garcia Magaña  
                                        <small>@Session["RazonSocial"]Abarrotes Monterrey S.A. de C.V.</small>
                                    </p>
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-right">
                                        <a href="#" data-target="#Modal_Exit" data-toggle="modal" class="btn btn-default btn-flat">Cerrar Sesión</a>                                        
                                    </div>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>

            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu">
                    <li class="header"></li>
                    <li>
                        <a href="/Home/">
                            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-ticket"></i>
                            <span>Tickets</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="/RegistroTicket/"><i class="fa fa-circle-o"></i> Registro</a></li>
                            <li><a href="/Tickets/"><i class="fa fa-circle-o"></i> Seguimiento</a></li>                            
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-search"></i>
                            <span>Reportes</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-circle-o"></i> General</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Personalizadas</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-gears"></i> <span>Administración</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="/Zonas/"><i class="fa fa-circle-o"></i> Zonas</a></li>
                            <li><a href="/Sucursales/"><i class="fa fa-circle-o"></i> Sucursales</a></li>
                            <li><a href="/Areas/"><i class="fa fa-circle-o"></i> Areas</a></li>
                            <li><a href="/Estados/"><i class="fa fa-circle-o"></i> Estados Tiket</a></li>
                            <li><a href="/TipoSoporte/"><i class="fa fa-circle-o"></i>Tipo Soporte</a></li>
                            <li><a href="/Politicas/"><i class="fa fa-circle-o"></i>Poliicas</a></li>                            
                            <li><a href="/Prioridad/"><i class="fa fa-circle-o"></i>Prioridad</a></li>
                            <li><a href="/Permisos/"><i class="fa fa-circle-o"></i> Permisos</a></li>
                            <li><a href="/TipoUsuario/"><i class="fa fa-circle-o"></i> Tipo Usuario</a></li>
                            <li><a href="/Usuarios/"><i class="fa fa-circle-o"></i> Usuarios</a></li>                            
                        </ul>
                    </li>                    
                    <li>
                        <a href="#">
                            <i class="fa fa-question-circle"></i> <span>Ayuda</span>
                            <small class="label pull-right bg-red">PDF</small>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-info-circle"></i> <span>Acerca De...</span>
                            <small class="label pull-right bg-yellow">IT</small>
                        </a>
                    </li>

                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
        <!--Contenido-->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Main content -->
            <section class="content">
                @RenderBody()
            </section><!-- /.content -->
        </div><!-- /.content-wrapper -->
        <!--Fin-Contenido-->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 1.0
            </div>
            <strong>Copyright &copy; 2018 <a href="#">Abarrotes Monterrey S.A de C.V.</a></strong> Todos los Derechos Reservados.
        </footer>
    </div>
    <div class="modal fade" id="Modal_Exit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="mensaje_modal">Cerrar Sesion</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h4>Se va a cerrar la session actual ¿Desea Continuar?</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="CerrarSesion()" class="btn btn-default">SI</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">NO</button>
                </div>
            </div>
        </div>
    </div>

    @*@{
        try
        {
            if (Session["Id_Usuario"].ToString() == "")
            {
                Response.Redirect("/Acceso/");
            }
        }
        catch (Exception ex)
        {
            //Console.WriteLine(.ToString);
            Response.Redirect("/Acceso/");
        }
    }*@

    <!-- Jcrop -->
    @Scripts.Render("~/Content/js/Jcrop.js")
    <!-- Select-Picker -->
    @Scripts.Render("~/Content/js/bootstrap-select.min.js")
    @Scripts.Render("~/Content/plugins/bootstrap-sweetalert/sweet-alert.js")
    @Scripts.Render("~/Content/plugins/bootstrap-sweetalert/sweet-alert.min.js")
    @Scripts.Render("~/Content/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js")
    @Scripts.Render("~/Content/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js")
    <!-- Datatables-->
    @Scripts.Render("~/Content/plugins/datatables/jquery.dataTables.min.js")
    @Scripts.Render("~/Content/plugins/datatables/dataTables.bootstrap.js")
    @Scripts.Render("~/Content/plugins/datatables/dataTables.buttons.min.js")
    @Scripts.Render("~/Content/plugins/datatables/buttons.bootstrap.min.js")
    @Scripts.Render("~/Content/plugins/datatables/buttons.html5.min.js")
    @Scripts.Render("~/Content/plugins/datatables/dataTables.responsive.min.js")
    @Scripts.Render("~/Content/plugins/datatables/responsive.bootstrap.min.js")
    @Scripts.Render("~/Content/plugins/DataTables/jszip.min.js")
    @Scripts.Render("~/Content/plugins/DataTables/pdfmake.min.js")
    @Scripts.Render("~/Content/plugins/DataTables/vfs_fonts.js")
    <!-- Datatable init js -->
    @Scripts.Render("~/Content/pages/datatables.init.js")
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
    <script>
        function CerrarSesion() {
            return window.location.href = "@Url.Action("CerrarSesion", "Acceso")";
        }
    </script>
</body>
</html>
