<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - HelpDesk </title>

    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- jQuery 2.1.4 -->
    <script src="~/Content/js/jquery-3.1.1.min.js"></script>
    <!-- Bootstrap 3.3.5 -->
    <script src="~/Content/js/bootstrap.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/js/app.min.js"></script>
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/css/font-awesome.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->    
    <link rel="stylesheet" href="~/Content/css/_all-skins.min.css">
    <link rel="apple-touch-icon" href="~/Content/img/apple-touch-icon.png">
    <link rel="shortcut icon" href="~/Content/img/favicon.ico">
    <!-- Jcrop -->
    <link rel="stylesheet" href="~/Content/css/Jcrop.css" />
    <!-- Select-Picker -->
    @Styles.Render("~/Content/css/bootstrap-select.min.css")
    @Styles.Render("~/Content/plugins/bootstrap-sweetalert/sweet-alert.css")
    @Styles.Render("~/Content/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css")
    <!-- CSS DataTables -->
    @Styles.Render("~/Content/plugins/datatables/jquery.dataTables.min.css")
    @Styles.Render("~/Content/plugins/datatables/buttons.bootstrap.min.css")
    @Styles.Render("~/Content/plugins/datatables/responsive.bootstrap.min.css")

    @*@Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/modernizr")

</head>
<body class="hold-transition skin-blue-light sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="/Home/" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><img src="~/Content/img/apple-touch-icon.png" class="user-image" width="42px"></span>                
                <!-- logo for regular state and mobile devices -->                
                <img src="~/Content/img/logo_helpdesk_b.png" class="user-image" >
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Navegación</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less-->
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="~/Content/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
                                <span class="hidden-xs">@Session["Nombre"]devluisangel</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="~/Content/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                                    <p>
                                        @Session["Nombre"]Luis Angel Garcia Magaña  
                                        <small>@Session["RazonSocial"]Abarrotes Monterrey S.A. de C.V.</small>
                                    </p>
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-right">
                                        <a href="#" data-target="#Modal_Exit" data-toggle="modal" class="btn btn-default btn-flat">Cerrar Sesión</a>                                        
                                    </div>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>

            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu">
                    <li class="header"></li>
                    <li>
                        <a href="#">
                            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-credit-card"></i>
                            <span>Tickets</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="/Empleado/"><i class="fa fa-circle-o"></i> Ordenes</a></li>
                            <li><a href="/Empleado/"><i class="fa fa-circle-o"></i> Seguimiento</a></li>                            
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-search"></i>
                            <span>Reportes</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-circle-o"></i> General</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Personalizadas</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-gears"></i> <span>Administración</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="/TipoUsuario/"><i class="fa fa-circle-o"></i> Tipo Usuario</a></li>
                            <li><a href="/Permisos/"><i class="fa fa-circle-o"></i> Permisos</a></li>
                            <li><a href="/Roles/"><i class="fa fa-circle-o"></i> Roles</a></li>                            
                            <li><a href="/Usuarios/"><i class="fa fa-circle-o"></i> Usuarios</a></li>
                            <li><a href="/Zonas/"><i class="fa fa-circle-o"></i> Zonas</a></li>
                            <li><a href="/Sucursales/"><i class="fa fa-circle-o"></i> Sucursales</a></li>
                            <li><a href="/Areas/"><i class="fa fa-circle-o"></i> Areas</a></li>
                            <li><a href="/Estados/"><i class="fa fa-circle-o"></i> Estados Tiket</a></li>
                            <li><a href="/TipoSoporte/"><i class="fa fa-circle-o"></i>Tipo Soporte</a></li>
                            <li><a href="/Politicas/"><i class="fa fa-circle-o"></i>Poliicas</a></li>                            
                            <li><a href="/Prioridad/"><i class="fa fa-circle-o"></i>Prioridad</a></li>                            
                        </ul>
                    </li>                    
                    <li>
                        <a href="#">
                            <i class="fa fa-question-circle"></i> <span>Ayuda</span>
                            <small class="label pull-right bg-red">PDF</small>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-info-circle"></i> <span>Acerca De...</span>
                            <small class="label pull-right bg-yellow">IT</small>
                        </a>
                    </li>

                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
        <!--Contenido-->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Main content -->
            <section class="content">
                @RenderBody()
            </section><!-- /.content -->
        </div><!-- /.content-wrapper -->
        <!--Fin-Contenido-->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 1.0
            </div>
            <strong>Copyright &copy; 2018 <a href="#">Abarrotes Monterrey S.A de C.V.</a></strong> Todos los Derechos Reservados.
        </footer>
    </div>
    <div class="modal fade" id="Modal_Exit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="mensaje_modal">Cerrar Sesion</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h4>Se va a cerrar la session actual ¿Desea Continuar?</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="CerrarSesion()" class="btn btn-default">SI</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">NO</button>
                </div>
            </div>
        </div>
    </div>

    @*@{
        try
        {
            if (Session["Id_Usuario"].ToString() == "")
            {
                Response.Redirect("/Acceso/");
            }
        }
        catch (Exception ex)
        {
            //Console.WriteLine(.ToString);
            Response.Redirect("/Acceso/");
        }
    }*@

    <!-- Jcrop -->
    @Scripts.Render("~/Content/js/Jcrop.js")
    <!-- Select-Picker -->
    @Scripts.Render("~/Content/js/bootstrap-select.min.js")
    @Scripts.Render("~/Content/plugins/bootstrap-sweetalert/sweet-alert.js")
    @Scripts.Render("~/Content/plugins/bootstrap-sweetalert/sweet-alert.min.js")
    @Scripts.Render("~/Content/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js")
    @Scripts.Render("~/Content/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js")
    <!-- Datatables-->
    @Scripts.Render("~/Content/plugins/datatables/jquery.dataTables.min.js")
    @Scripts.Render("~/Content/plugins/datatables/dataTables.bootstrap.js")
    @Scripts.Render("~/Content/plugins/datatables/dataTables.buttons.min.js")
    @Scripts.Render("~/Content/plugins/datatables/buttons.bootstrap.min.js")
    @Scripts.Render("~/Content/plugins/datatables/buttons.html5.min.js")
    @Scripts.Render("~/Content/plugins/datatables/dataTables.responsive.min.js")
    @Scripts.Render("~/Content/plugins/datatables/responsive.bootstrap.min.js")
    @Scripts.Render("~/Content/plugins/DataTables/jszip.min.js")
    @Scripts.Render("~/Content/plugins/DataTables/pdfmake.min.js")
    @Scripts.Render("~/Content/plugins/DataTables/vfs_fonts.js")
    <!-- Datatable init js -->
    @Scripts.Render("~/Content/pages/datatables.init.js")
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
    <script>
        function CerrarSesion() {
            return window.location.href = "@Url.Action("CerrarSesion", "Acceso")";
        }
    </script>
</body>
</html>
